<!DOCTYPE html>
<html>

<head>
    <title>node批量修改</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/vue/2.1.6/vue.min.js"></script>
    <script src="http://cdn.bootcss.com/vue-resource/1.1.0/vue-resource.min.js"></script>
</head>

<body>
    <div id="index">
        <div class="container">
            <h3>第一步：请检查excel文件是否规范</h3>
            <img src="http://localhost:3000/img.jpg" alt="">
            <h3>第二步：请将excel配置文件放置到根目录下</h3>
            <h3>第三步：请根据需求填写以下配置</h3>
            <form role="form" method="post" action="index">
                <div class="form-group">
                    <label for="myrow">项目第一行</label>
                    <input type="text" class="form-control" id="myrow" placeholder="请输入项目起始行" name="myrow">
                </div>
                <div class="form-group">
                    <label for="myrowend">项目最后一行</label>
                    <input type="text" class="form-control" id="myrowend" placeholder="请输入项目最末行" name="myrowend">
                </div>
                <!--   <div class="form-group" v-show="mylink">
                    <div class="input-group">
                        <span class="input-group-addon">老链接</span>
                        <input type="text" class="form-control" placeholder="老链接" name="mylink">
                    </div>
                </div> -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="showmymodel()" name="ismymodel">模版是否使用本地模版
                    </label>
                </div>
                <div class="form-group" v-show="mymodel">
                    <div class="input-group">
                        <span class="input-group-addon">本地模版名字</span>
                        <input type="text" class="form-control" placeholder="本地模版放置到views目录下，例如hk01" name="mymodelName">
                    </div>
                </div>
                <div class="checkbox" v-show="mylink">
                    <label>
                        <input type="checkbox" value="1" name="ismylink">老链接是否是一个
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('mydownload')" name="isdownload">download
                    </label>
                </div>
                <div class="form-group" v-show="mydownload">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="mydownload">
                    </div>
                    <br>
                    <div class="radio">
                        <label>
                            <input type="radio" value="1" @click="showmydownloadOnly(1)" name="isdownloadonly" checked>下载地址唯一
                        </label>
                        <label>
                            <input type="radio" value="0" @click="showmydownloadOnly(0)" name="isdownloadonly">下载地址不唯一
                        </label>
                    </div>
                    <div class="input-group" v-show="mydownloadOnly">
                        <span class="input-group-addon">唯一下载地址</span>
                        <input type="text" class="form-control" placeholder="下载地址不填写就默认使用表格里面的下载地址" name="mydownloadUrl">
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('myicon')" name="isicon">icon
                    </label>
                </div>
                <div class="form-group" v-show="myicon">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="myicon">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">唯一icon地址</span>
                        <input type="hidden" class="form-control" placeholder="logo地址" name="myiconUrl" v-model="myiconUrl">
                        <select class="form-control" placeholder="icon地址" @change="selectValIcon">
                            <option value="请选择游戏icon">请选择游戏icon</option>
                            <!--  <option value="https://download.shengli.com/logo_icon/ltby_s/icon.png">雷霆霸业</option>
                            <option value="https://download.shengli.com/logo_icon/mlzy_s/icon.png">魔龙战域</option>
                            <option value="https://download.shengli.com/logo_icon/mshh_s/icon.png">灭世洪荒</option>
                            <option value="https://download.shengli.com/logo_icon/ql_s/icon.png">器灵</option>
                            <option value="https://download.shengli.com/logo_icon/qmcq_s/icon.png">全民传奇</option>
                            <option value="https://download.shengli.com/logo_icon/sgdtx_s/icon.png">四哥打天下</option>
                            <option value="https://download.shengli.com/logo_icon/tlkz_s/icon.png">屠龙狂战</option>
                            <option value="https://download.shengli.com/logo_icon/tlzg_s/icon.png">屠龙战歌</option>
                            <option value="https://download.shengli.com/logo_icon/wzcq_s/icon.png">王者传奇</option>
                            <option value="https://download.shengli.com/logo_icon/zskn_s/icon.png">战神狂怒</option>
                            <option value="https://download.shengli.com/logo_icon/ttcq_s/icon.png">通天传奇</option> -->
                            <option v-for="item in selectIcon" v-bind:value="item.iconUrl" v-text="item.iconText"></option>
                            <option value="">其他</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group" v-show="myiconUrl2">
                        <span class="input-group-addon">其他</span>
                        <input type="text" class="form-control" placeholder="icon地址" @input="changeIconUrl($event)">
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('mylogo')" name="islogo">logo
                    </label>
                </div>
                <div class="form-group" v-show="mylogo">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="mylogo">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">唯一logo地址</span>
                        <input type="hidden" class="form-control" placeholder="logo地址" name="mylogoUrl" v-model="mylogoUrl">
                        <select class="form-control" placeholder="logo地址" @change="selectValLogo">
                            <option value="请选择游戏logo">请选择游戏logo</option>
                            <option v-for="item in selectLogo" v-bind:value="item.logoUrl" v-text="item.logoText"></option>
                            <!--   <option value="https://download.shengli.com/logo_icon/ltby_s/logo.png">雷霆霸业</option>
                            <option value="https://download.shengli.com/logo_icon/mlzy_s/logo.png">魔龙战域</option>
                            <option value="https://download.shengli.com/logo_icon/mshh_s/logo.png">灭世洪荒</option>
                            <option value="https://download.shengli.com/logo_icon/ql_s/logo.png">器灵</option>
                            <option value="https://download.shengli.com/logo_icon/qmcq_s/logo.png">全民传奇</option>
                            <option value="https://download.shengli.com/logo_icon/sgdtx_s/logo.png">四哥打天下</option>
                            <option value="https://download.shengli.com/logo_icon/tlkz_s/logo.png">屠龙狂战</option>
                            <option value="https://download.shengli.com/logo_icon/tlzg_s/logo.png">屠龙战歌</option>
                            <option value="https://download.shengli.com/logo_icon/wzcq_s/logo.png">王者传奇</option>
                            <option value="https://download.shengli.com/logo_icon/zskn_s/logo.png">战神狂怒</option>
                            <option value="https://download.shengli.com/logo_icon/ttcq_s/logo.png">通天传奇</option> -->
                            <option value="">其他</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group" v-show="mylogoUrl2">
                        <span class="input-group-addon">其他</span>
                        <input type="text" class="form-control" placeholder="logo地址" @input="changeLogoUrl($event)">
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('myfooter')" name="isfooter">footer
                    </label>
                </div>
                <div class="form-group" v-show="myfooter">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="myfooter">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">唯一footer内容</span>
                        <input type="text" class="form-control" placeholder="footer内容" name="myfooterText">
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('mytitle')" name="istitle">游戏名称
                    </label>
                </div>
                <div class="form-group" v-show="mytitle">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="mytitle">
                    </div>
                    <br>
                    <div class="radio">
                        <label>
                            <input type="radio" value="1" @click="showmytitleOnly(1)" name="istitleonly" checked>游戏名称唯一
                        </label>
                        <label>
                            <input type="radio" value="1" @click="showmytitleOnly(0)" name="istitleonly">游戏名称不唯一
                        </label>
                    </div>
                    <div class="input-group" v-show="mytitleonly">
                        <span class="input-group-addon">唯一游戏名称</span>
                        <input type="text" class="form-control" placeholder="唯一游戏名称不填写就默认使用表格里面的游戏名称" name="mytitleText">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">删除内容的选择器</span>
                    <input type="text" class="form-control" placeholder="选择器" name="delChoose">
                </div>
                <br>
                <button type="submit" class="btn btn-default">提交</button>
                <div style="height:100px"></div>
            </form>
        </div>
    </div>
    <script>
    var vm = new Vue({
        el: "#index",
        data: {
            mydownload: false,
            myicon: false,
            mylogo: false,
            myfooter: false,
            mytitle: false,
            mymodel: false,
            mylink: true,
            mytitleonly: true,
            mydownloadOnly: true,
            myiconUrl2: false,
            myiconUrl: "",
            mylogoUrl2: false,
            mylogoUrl: "",
            mylogoUrl2Value: "",
            selectIcon: [],
            selectLogo: []
        },
        mounted: function() {
            //初始化
            //使用本地json   
                // var self = this;
                // this.$nextTick(function() {        
                //     this.$http.get('/data.json').then(function(response) {
                //         for (var i = 0; i < response.data.logo.length; i++) {
                //             self.selectLogo.push(response.data.logo[i]);
                //         }
                //         for (var j = 0; j < response.data.icon.length; j++) {
                //             self.selectIcon.push(response.data.icon[j]);
                //         }
                //     });
                // })
        },
        methods: {
            isShow: function(obj) {
                vm[obj] = !vm[obj];
            },
            selectValIcon: function(ele) {
                if (ele.target.value !== '') {
                    this.myiconUrl2 = false;
                    this.myiconUrl = ele.target.value;
                } else {
                    this.myiconUrl2 = true;
                }
            },
            selectValLogo: function(ele) {
                if (ele.target.value !== '') {
                    this.mylogoUrl2 = false;
                    this.mylogoUrl = ele.target.value;
                } else {
                    this.mylogoUrl2 = true;
                    this.mylogoUrl = this.mylogoUrl2Value;
                }
            },
            changeIconUrl: function(ele) {
                this.myiconUrl = ele.target.value;
            },
            changeLogoUrl: function(ele) {
                this.mylogoUrl = ele.target.value;
            },
            // showmydownload: function() {
            //     vm.mydownload = !vm.mydownload;
            // },
            // showmyicon: function() {
            //     vm.myicon = !vm.myicon;
            // },
            // showmylogo: function() {
            //     vm.mylogo = !vm.mylogo;
            // },
            // showmyfooter: function() {
            //     vm.myfooter = !vm.myfooter;
            // },
            // showmytitle: function() {
            //     vm.mytitle = !vm.mytitle;
            // },
            showmymodel: function() {
                vm.mymodel = !vm.mymodel;
                vm.mylink = !vm.mylink;
            },
            showmytitleOnly: function(num) {
                if (num) {
                    vm.mytitleonly = true;
                } else {
                    vm.mytitleonly = false;
                }
            },
            showmydownloadOnly: function(num) {
                if (num) {
                    vm.mydownloadOnly = true;
                } else {
                    vm.mydownloadOnly = false;
                }
            }
        }
    });
    </script>
    <script type="text/javascript">
    function localHandler(data) {
        for (var i = 0; i < data.logo.length; i++) {
            vm.selectLogo.push(data.logo[i]);
        }
        for (var j = 0; j < data.icon.length; j++) {
            vm.selectIcon.push(data.icon[j]);
        }
    };
    </script> 
     <!--使用线上json-->
     <script type="text/javascript" src="https://download.shengli.com/logo_icon/data.js"></script>
</body>

</html>
