<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <title>node批量修改</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/vue/2.1.6/vue.min.js"></script>
</head>

<body>
    <div id="index">
        <div class="container">
            <h3>第一步：请检查excel文件是否规范</h3>
            <img src="http://localhost:3000/img.jpg" alt="">
            <h3>第二步：请将excel配置文件放置到根目录下</h3>
            <h3>第三步：请根据需求填写以下配置</h3>
            <form role="form" method="post">
                <div class="form-group">
                    <label for="myrow">项目第一行</label>
                    <input type="text" class="form-control" id="myrow" placeholder="请输入项目起始行" name="myrow">
                </div>
                <div class="form-group">
                    <label for="myrowend">项目最后一行</label>
                    <input type="text" class="form-control" id="myrowend" placeholder="请输入项目最末行" name="myrowend">
                </div>
                <!--   <div class="form-group" v-show="mylink">
                    <div class="input-group">
                        <span class="input-group-addon">老链接</span>
                        <input type="text" class="form-control" placeholder="老链接" name="mylink">
                    </div>
                </div> -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="showmymodel()" name="ismymodel">模版是否使用本地模版
                    </label>
                </div>
                <div class="form-group" v-show="mymodel">
                    <div class="input-group">
                        <span class="input-group-addon">本地模版名字</span>
                        <input type="text" class="form-control" placeholder="本地模版放置到views目录下，例如hk01" name="mymodelName">
                    </div>
                </div>
                <div class="checkbox" v-show="mylink">
                    <label>
                        <input type="checkbox" value="1" name="ismylink">老链接是否是一个
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('mydownload')" name="isdownload">download
                    </label>
                </div>
                <div class="form-group" v-show="mydownload">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="mydownload">
                    </div>
                    <br>
                    <div class="radio">
                        <label>
                            <input type="radio" value="1" @click="showmydownloadOnly(1)" name="isdownloadonly" checked>下载地址唯一
                        </label>
                        <label>
                            <input type="radio" value="0" @click="showmydownloadOnly(0)" name="isdownloadonly">下载地址不唯一
                        </label>
                    </div>
                    <div class="input-group" v-show="mydownloadOnly">
                        <span class="input-group-addon">唯一下载地址</span>
                        <input type="text" class="form-control" placeholder="下载地址不填写就默认使用表格里面的下载地址" name="mydownloadUrl">
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('myicon')" name="isicon">icon
                    </label>
                </div>
                <div class="form-group" v-show="myicon">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="myicon">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">唯一icon地址</span>
                        <input type="text" class="form-control" placeholder="icon地址" name="myiconUrl">
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('mylogo')" name="islogo">logo
                    </label>
                </div>
                <div class="form-group" v-show="mylogo">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="mylogo">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">唯一logo地址</span>
                        <input type="text" class="form-control" placeholder="logo地址" name="mylogoUrl">
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('myfooter')" name="isfooter">footer
                    </label>
                </div>
                <div class="form-group" v-show="myfooter">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="myfooter">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">唯一footer内容</span>
                        <input type="text" class="form-control" placeholder="footer内容" name="myfooterText">
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" @click="isShow('mytitle')" name="istitle">游戏名称
                    </label>
                </div>
                <div class="form-group" v-show="mytitle">
                    <div class="input-group">
                        <span class="input-group-addon">选择器</span>
                        <input type="text" class="form-control" placeholder="选择器" name="mytitle">
                    </div>
                    <br>
                    <div class="radio">
                        <label>
                            <input type="radio" value="1" @click="showmytitleOnly(1)" name="istitleonly" checked>游戏名称唯一
                        </label>
                        <label>
                            <input type="radio" value="1" @click="showmytitleOnly(0)" name="istitleonly">游戏名称不唯一
                        </label>
                    </div>
                    <div class="input-group" v-show="mytitleonly">
                        <span class="input-group-addon">唯一游戏名称</span>
                        <input type="text" class="form-control" placeholder="唯一游戏名称不填写就默认使用表格里面的游戏名称" name="mytitleText">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">删除内容的选择器</span>
                    <input type="text" class="form-control" placeholder="多个选择器请用，隔开" name="delChoose">
                </div>
                <br>
                <button type="submit" class="btn btn-default">提交</button>
                <div style="height:100px"></div>
            </form>
        </div>
    </div>
    <script>
    var vm = new Vue({
        el: "#index",
        data: {
            mydownload: false,
            myicon: false,
            mylogo: false,
            myfooter: false,
            mytitle: false,
            mymodel: false,
            mylink: true,
            mytitleonly: true,
            mydownloadOnly: true
        },
        methods: {
            isShow: function(obj) {
                vm[obj] = !vm[obj];
            },
            // showmydownload: function() {
            //     vm.mydownload = !vm.mydownload;
            // },
            // showmyicon: function() {
            //     vm.myicon = !vm.myicon;
            // },
            // showmylogo: function() {
            //     vm.mylogo = !vm.mylogo;
            // },
            // showmyfooter: function() {
            //     vm.myfooter = !vm.myfooter;
            // },
            // showmytitle: function() {
            //     vm.mytitle = !vm.mytitle;
            // },
            showmymodel: function() {
                vm.mymodel = !vm.mymodel;
                vm.mylink = !vm.mylink;
            },
            showmytitleOnly: function(num) {
                if (num) {
                    vm.mytitleonly = true;
                } else {
                    vm.mytitleonly = false;
                }
            },
            showmydownloadOnly: function(num) {
                if (num) {
                    vm.mydownloadOnly = true;
                } else {
                    vm.mydownloadOnly = false;
                }
            }
        }
    })
    </script>
</body>

</html>
